# requirements.txt
snowflake-connector-python
snowflake-snowpark-python
scikit-learn
matplotlib
holidays
joblib==1.2.0
numpy
pandas
xgboost==1.7.5
plotly
feature_engine==1.6.0
folium == 0.14.0
streamlit-folium
pyarrow==10.0.1
